<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="oracleConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.2.101)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=BUSPLANNING)));Persist Security Info=True;User ID=scott;Password=Sutpc123;"/>
  </connectionStrings>
</configuration>
